@font-face {
  font-family: DM Sans;
  src: url("/assets/fonts/DMSans-Regular.ttf");
}

@font-face {
  font-family: Lora;
  src: url("/assets/fonts/Lora-SemiBold.ttf");
}

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-dm-sans: DM Sans, ui-sans-serif, Arial, -apple-system, "sans-serif";
  --font-lora: Lora, ui-serif, Arial, -apple-system, "serif";
}

:root {
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
